* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif; 
}

body { 
    background-color: #f4f4f9; 
    color: #333; 
}

header { 
    background-color: #2c3e50; 
    color: white; 
    text-align: center; 
    padding: 1rem; 
}

hr{
    margin-bottom: 10px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.productos { 
    flex: 2 1 600px; 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    gap: 20px;
}


.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    padding: 20px;
}

.card:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.card img { 
    width: 100%; 
    height: 60%; 
    object-fit: cover; 
}

.card-body { 
    padding: 15px; 
}

.card button { 
    background-color: #27ae60; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    margin-top: 15px; 
    cursor: pointer; 
    border-radius: 5px; 
    width: 100%; 
    font-weight: bold; 
    margin-bottom: 50px;
}

.card button:hover { 
    background-color: #219150; 
}

.carrito { 
    flex: 1 1 300px; 
    background: white; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    height: fit-content; 
    position: sticky; 
    top: 20px; 
}

.item-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
    font-size: 1rem;
    overflow-y: auto;
    gap: 15px;
}

.btn-eliminar { 
    background-color: #e74c3c; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    cursor: pointer; 
    border-radius: 3px; 
    font-weight: bold; 
}

.btn-eliminar:hover { 
    background-color: #c0392b; 
}

.totales { 
    margin-top: 20px; 
    font-weight: bold; 
    font-size: 1.2rem; 

}

.btn-vaciar { 
    background-color: #7f8c8d; 
    color: white; 
    border: none; 
    padding: 10px; 
    width: 100%; 
    margin-top: 15px; 
    cursor: pointer; 
    border-radius: 5px; 
    font-weight: bold; 
}

.btn-vaciar:hover { 
    background-color: #636e72; 
}

aside{
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 400px;
    background-color: rgb(202, 202, 202);
    padding: 30px;
}

aside h2{
    margin-bottom: 10px;
}

.final{
    background-color: #568eff; 
    color: white; 
    border: none; 
    padding: 10px; 
    width: 100%; 
    margin-top: 15px; 
    cursor: pointer; 
    border-radius: 5px; 
    font-weight: bold; 
}

.btn{
    background-color: rgb(126, 188, 255);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}



@media (max-width:1279px){
    aside{
        margin-top: 15px;
    }
}

@media (max-width:480px){
    .contenedor{
        max-width: 100%;
    }
}